body {
  /* background: rgb(65, 242, 255) no-repeat center center fixed; */

  -webkit-animation: bgcolor 60s infinite;
  animation: bgcolor 50s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

@keyframes bgcolor {
  0% {
    background-color: #59ffff;
  }

  30% {
    background-color: #49f797;
  }

  60% {
    background-color: #fff677;
  }

  90% {
    background-color: rgb(255, 161, 154);
  }

  100% {
    background-color: #cd9bff;
  }
}
a {
  color: black !important;
}
a:hover {
  color: #757575 !important;
}

/* About modal */
.modal-100w {
  width: 100%;
  max-width: none !important;
}
.about-modal .modal-content {
  background-color: #fcf8e3;
  border-radius: 0%;
}
/* Tooltip */
#tooltip-top > .tooltip-inner {
  background-color: #fcf8e3;
  color: #000;
  border-radius: 0;
}
